@import "tailwindcss";
@plugin "daisyui";

/**
  * Đường dẫn chung đến các tệp mẫu Django, tệp JavaScript và tệp Python
  * chứa các lớp CSS của Tailwind và sẽ được Tailwind quét để tạo tệp CSS cuối cùng.
  *
  * Nếu tệp CSS cuối cùng của bạn không được cập nhật sau khi thay đổi mã, bạn có thể muốn mở rộng hoặc thu hẹp
  * phạm vi của đường dẫn này.
  */
@source "../../../**/*.{html,py,js}";
